<article>
  <section id="contact-information">
    <h1>Contact information</h1>
    <ul class="office">
      <li>
        <h2>Office</h2>
        <p>Plovdiv, Brezovsko Shosse</p>
        <img
          alt="Office icon"
          class="Contact-module__YWVT-W__icon"
          src="/assets/icons/map-pinned.svg"
        >
      </li>
      <li>
        <h2>Phone</h2>
        <p>+359 877 486 644</p>
        <img
          alt="Phone icon"
          class="Contact-module__YWVT-W__icon"
          src="/assets/icons/phone-outgoing.svg"
        >
      </li>
    </ul>
    <ul class="office">
      <li>
        <h2>Office</h2>
        <p>Sofia</p>
        <img
          alt="Office icon"
          class="Contact-module__YWVT-W__icon"
          src="/assets/icons/map-pinned.svg"
        >
      </li>
      <li>
        <h2>Phone</h2>
        <p>+359 878 758 080</p>
        <img
          alt="Phone icon"
          class="Contact-module__YWVT-W__icon"
          src="/assets/icons/phone-outgoing.svg"
        >
      </li>
    </ul>
    <ul>
      <li>
        <h2>Email</h2>
        <p>office@forstorebg.com</p>
        <img
          alt="Email icon"
          class="Contact-module__YWVT-W__icon"
          src="/assets/icons/send.svg"
        >
      </li>
      <li>
        <h2>Working hours</h2>
        <p>Mon - Fri: 8:00 - 17:30, Sat - Sun: day off</p>
        <img
          alt="Clock icon"
          class="Contact-module__YWVT-W__icon"
          src="/assets/icons/clock.svg"
        >
      </li>
    </ul>
  </section>
  <section id="write-to-us">
    <h1>Write to us</h1>
    <form>
      <div>
        <input name="company" placeholder=" " type="text" value="">
        <label>Company name *</label>
      </div>
      <div>
        <input name="name" placeholder=" " type="text" value="">
        <label>Contact person *</label>
      </div>
      <div>
        <input name="email" placeholder=" " type="email" value="">
        <label>Email *</label>
      </div>
      <div>
        <input name="phone" placeholder=" " type="tel" value="">
        <label>Phone *</label>
      </div>
      <div>
        <textarea name="message" placeholder=" " rows="4"></textarea>
        <label>Project description *</label>
      </div>
      <fieldset>
        <div>
          <input checked="" name="terms" type="checkbox" value="on">
          <label>I agree to the Terms and Conditions *</label>
        </div>
        <div>
          <input checked="" name="privacy" type="checkbox" value="on">
          <label>I agree to the privacy policy *</label>
        </div>
        <div>
          <input name="marketing" type="checkbox" value="on">
          <label>I would like to receive marketing messages</label>
        </div>
      </fieldset>
      <button type="submit">send</button>
    </form>
  </section>
</article>
