<footer>
  <div>
    <!-- Column 1: Logo & Info -->
    <div>
      <a href="/">
        <img
          src="/assets/forstore_lite_new.svg"
          alt="Logo Forstor BG"
          title="Logo Forstor BG"
          width="207"
          height="40"
        >
      </a>
      <p>
        Design and construction of modern warehouse and logistics bases with high functionality, optimized costs and
        long-term returns.
      </p>
      <div class="social-icons">
        <a
          href="https://www.facebook.com/forstorebg"
          target="_blank"
          rel="noopener noreferrer"
          title="Link to Facebook page of Forstorebg.com"
        >
          <img
            src="/assets/icons/socials/facebook.svg"
            alt="Facebook Logo"
            title="Logo Facebook"
          >
        </a>
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          title="Link to Linkedin page of Forstorebg.com"
        >
          <img
            src="/assets/icons/socials/linkedin.svg"
            alt="LinkedIn Logo"
            title="Logo LinkedIn"
          >
        </a>
      </div>
    </div>

    <!-- Column 2: Services Navigation -->
    <nav>
      <h3>Services</h3>
      <ul>
        <li><a title="Consultation" href="/services/#consultation">Consultation</a></li>
        <li><a title="Designing" href="/services/#design">Designing</a></li>
        <li><a title="Assembly" href="/services/#installation">Assembly</a></li>
        <li><a title="Support" href="/services/#maintenance">Support</a></li>
        <li><a title="Machine rental" href="/services/#rental">Machine rental</a></li>
      </ul>
    </nav>

    <!-- Column 3: Projects Navigation -->
    <nav>
      <h3>Projects</h3>
      <ul>
        <li><a href="/projects/#proekt1">Drive-in racking system</a></li>
        <li><a href="/projects/#proekt2">Production base</a></li>
        <li><a href="/projects/#proekt6">Logistics company</a></li>
        <li><a href="/projects/#proekt5">Two-tier manual service system</a></li>
      </ul>
    </nav>

    <!-- Column 4: Contacts section -->
    <section>
      <h3>Contacts</h3>
      <ul>
        <li>
          <img src="/assets/icons/map-pin.svg" alt="Map Pin Icon">
          <span
            >Plovdiv, Bulgaria <br>
            Brezovsko shose</span
          >
        </li>
        <li>
          <img src="/assets/icons/phone.svg" alt="Phone Icon">
          <a href="tel:+359877486644">+359 877 486 644</a>
        </li>
        <li>
          <img src="/assets/icons/mail.svg" alt="Mail Icon">
          <a href="mailto:office@forstorebg.com">office@forstorebg.com</a>
        </li>
      </ul>
    </section>
  </div>

  <!-- Bottom Copyright & Legal links bar -->
  <div>
    <span>© 2026 ForstoreBG. All rights reserved.</span>
    <nav>
      <a title="terms and conditions" href="/terms/">Terms & Conditions</a>
      <a title="Privacy Policy" href="/privacy/">Privacy Policy</a>
      <a title="Cookie Policy" href="/cookies/">Cookie Policy</a>
    </nav>
  </div>
</footer>
