<section class="site-cta">
  <h2>Are you ready to optimize your warehouse?</h2>
  <p>Contact us for a free consultation and an individual solution.</p>
  <div class="site-cta-btn-area">
    <button type="button">Send inquiry</button>
    <a href="tel:+359877486644">Call us</a>
  </div>
</section>
